body{
    background-color: rgb(53, 53, 53);
    overflow-x: hidden;
    min-width: 640px;
    margin-left: 20px;
    margin-top: 20px;
}

nav ul {
    height: 300px;
    width: 630px;
    background-color: lightgray;
    overflow: hidden;
    overflow-y: scroll;
    list-style: none;
    padding: 5px;
}

ul {
    padding: 5px;
    list-style-type: none;
}

li {
    border-bottom: 1px solid gray;
}

label{
    padding: 10px;
    color: white;

}

input{
    width: 300px;
    margin-right: 10px;
    margin-left: 70px
}

.mediaControls{
    display: flex;
    justify-content: center;
    width: 640px;
}

.mediaControls > button{
    margin: 10px;
    width: 75px;
}


.currentlyPlaying{
    width: 640px;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 15px;
    height: 20px;
}


.GetPlaylist{
    position: relative;
}

.otherButtons{
    width: 640px;
    margin-top: 10px;
    text-align: center;
}

#searchInput{
    margin-left:91.5px
}
.playlistButtons{
    margin: 6px;
    margin-left: 200px
}

.playlistButtons > button{
    margin-left: 6px;
}