body{
    background-color: rgb(53, 53, 53);
    overflow: hidden !important;
    min-width: 640px;
    margin-left: 20px;
    margin-top: 20px;
}

.videoList{
    height: 100%;
    width: 640px;
    justify-items: center;
}

nav ul {
    height: 300px;
    width: 630px;
    background-color: lightgray;
    overflow: hidden;
    overflow-y: scroll;
    list-style: none;
    padding: 5px;
}

ul {
    padding: 5px;
    list-style-type: none;
}

li {
    border-bottom: 1px solid gray;
}

label{
    position: relative;
    padding-left: 4px;
    padding-right: 75px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: white;
}

input{
    width: 320px;
    margin-right: 10px !important; 
    margin: 0px;
}

.mediaControls{
    display: flex;
    justify-content: center;
    width: 640px;
}

.mediaControls > button{
    margin: 10px;
    width: 75px;
}


.currentlyPlaying{
    width: 640px;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 15px;
    height: 20px;
}


.GetPlaylist{
    width: 640px;
    float: left;
    margin-left: 10px !important;
    display: flex;
    align-items: center;
}

.otherButtons{
    width: 640px;
    margin-top: 10px;
    text-align: center;
}

.otherButtons > button{
    margin-left: 6px;
    padding-left: 8px;
    padding-right: 8px;
}

.searchPlaylist{
    width: 640px;
    float: left;
    margin-left: 10px !important;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

#searchInput{
    margin-left: 21.5px;
}

.playlistButtons{
    margin: 6px;
    align-items: center;
}

.playlistButtons > button{
    margin-left: 6px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

#heart {
    margin-right: 10px;
    cursor: pointer;
    color: gray;
}

#itemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: none;
}

.active {
    background-color: lightblue;
}